<html>
    <head>Reconnaissance d'image</head>
    <body>
        <form enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Save">
        </form>
        {% if form.is_valid %}
            <h3>{{ resultat }}</h3>
        {% endif %}
    </body>
    <hr>
    <table>
        <thead>
            <th>Filename</th>
            <th>Size</th>
            <th>Date</th>
            <th>Accuracy</th>
            <th>Classname</th>
            <th>Delete</th>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td>{{ log.file }}</td>
                <td>{{ log.size }}</td>
                <td>{{ log.upload_date|date:"Y-m-d" }}</td>
                <td>{{ log.accuracy }}</td>
                <td>{{ log.class_name }}</td>
                <td><a href="/delete/?log_row={{ log.file }}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</html>
